<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--Google Map to be removed soon-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

  <!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' /> -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->

  <!-- Manvitha changes for draw support-->
    <!--<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.js'></script>-->
    <!--<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css' rel='stylesheet' />-->
    <!--<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>-->
    <!--<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' type='text/css'/>-->
  <!-- Manvitha changes-->
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>TAMUber selected route</title>
  <style>
    html, body, #viewDiv {
      position: absolute; left: 125px; top: 58px; height: 80%; width: 80%; margin: 0; padding: 0;
    }
    .esri-view .esri-directions {
      position: fixed;
      right: 15px;
    }
    .esri-view .esri-component.esri-attribution {
      position: fixed;
    }
  </style>
  <!-- Favorite Bookmark Icon -->
  <link rel="shortcut icon" type="image/ico" href="//www.esri.com/favicon.ico" />
  <link rel="icon" type="image/ico" href="//www.esri.com/favicon.ico" />
  <!-- End Favorite Bookmark Icon --> <link href="/arcgis/rest/static/main.css" rel="stylesheet" type="text/css"/>
  <link href="https://js.arcgis.com/4.13/esri/css/main.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="https://js.arcgis.com/4.13/"></script>

  <script type="text/javascript">
    // The first version of Aggie Map. User can arbitrarily select two points on the map and the route in between will 
    // be shown on the map. 
    // require([
    //   "esri/Map",
    //   "esri/views/MapView",
    //   "esri/widgets/Home",
    //   "esri/layers/TileLayer",
    //   "esri/widgets/Directions",
    //   "dojo/domReady!"
    // ], function(Map, MapView, Home, TileLayer, Directions) {
    //     var map = new Map({
    //       basemap: "streets-navigation-vector"
    //     });
    //     var layer = null,
    //     layerUrl = "https://gis.tamu.edu/arcgis/rest/services/FCOR/BaseMap_20191008/MapServer",
    //     layer = new TileLayer(layerUrl, null);
        
    //     map.layers.add(layer);
    //     var view = new MapView({
    //       container: "viewDiv",
    //       map: map,
    //       center: [-96.34642, 30.61260],
    //       zoom: 15,
    //       padding: {
    //         right: 320
    //       }
    //     });
    //     var homeBtn = new Home({
    //       view: view
    //     });
    //     view.ui.add(homeBtn, "top-left");
    //     var directions = new Directions({
    //       view: view,
    //       routeServiceUrl: "https://utility.arcgis.com/usrsvcs/appservices/Bj4Y09lbZUcOR4uF/rest/services/World/Route/NAServer/Route_World"
    //     });
    //     view.ui.add(directions, "top-right");
    // });
    // The second vertion of Aggie Map. Once the user select the destination and pickup location, then the route between 
    // these two points will be shown in the next page. 
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/widgets/Home",
      "esri/layers/TileLayer",
      "esri/tasks/RouteTask",
      "esri/tasks/support/RouteParameters",
      "esri/tasks/support/FeatureSet",
      "esri/Graphic",
      "dojo/domReady!",
      "esri/layers/FeatureLayer",
      "esri/symbols/PictureMarkerSymbol",
    ], function(Map, MapView, Home, TileLayer, RouteTask, RouteParameters, FeatureSet, Graphic, FeatureLayer, PictureMarkerSymbol) {
        var map = new Map({
          basemap: "streets-navigation-vector"
        });
        var layer = null,
        layerUrl = "https://gis.tamu.edu/arcgis/rest/services/FCOR/BaseMap_20191008/MapServer",
        layer = new TileLayer(layerUrl, null);
        
        map.layers.add(layer);
        var view = new MapView({
          container: "viewDiv",
          map: map,
          center: [-96.34642, 30.61260],
          zoom: 15,
          padding: {
            right: 320
          }
        });
        var homeBtn = new Home({
          view: view
        });
        view.ui.add(homeBtn, "top-left");
        var routeTask = new RouteTask({
          url: "https://utility.arcgis.com/usrsvcs/appservices/Bj4Y09lbZUcOR4uF/rest/services/World/Route/NAServer/Route_World"
        });
        
        var point_source = {
          type: "point",  // autocasts as new Point()
          // longitude: -96.34113,
          // latitude: 30.62110
          longitude: gon.source_lon,
          latitude: gon.source_lat
        };
        var point_destination = {
          type: "point",  // autocasts as new Point()
          longitude: gon.destination_lon,
          latitude: gon.destination_lat
        };
        
        /*var BusIconGraphic = new Graphic({
           geometry: {
             type: "point",
             x: -96.34642,
             y: 30.612
           },
           symbol: {
             type: "picture-marker",
             url:"http://static.arcgis.com/images/Symbols/Transportation/esriDefaultMarker_191.png",
             width: "30px",
             height: "30px"
           }
          });
        view.graphics.add(BusIconGraphic);*/
        
        function addBus(xlon, ylat){
          var BusIconGraphic = new Graphic({
           geometry: {
             type: "point",
             //x: -96.34642,
             //y: 30.612
             x: xlon,
             y: ylat
           },
           symbol: {
             type: "picture-marker",
             url:"http://static.arcgis.com/images/Symbols/Transportation/esriDefaultMarker_191.png",
             width: "30px",
             height: "30px"
           }
          });
        view.graphics.add(BusIconGraphic);
        }
        addBus(-96.34642,30.612)
        /*
        const Http = new XMLHttpRequest();
        const url='https://jsonplaceholder.typicode.com/posts';
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
          console.log(Http.responseText)
        }
        */
        
        var pms = new PictureMarkerSymbol({
          url: 'images/search-pointer.png', //this does not for a sublayer symbol
          //url: 'https://js.arcgis.com/3.28/esri/dijit/Search/images/search-pointer.png', //this works
          width: "22px",
          height: "22px"
        });
        view.graphics.add(pms);
        
        function addGraphic(type, point) {
          var graphic = new Graphic({
            symbol: {
              type: "simple-marker",
              color: (type === "start") ? "white" : "black",
              size: "8px"
            },
            geometry: point
          });
          view.graphics.add(graphic);
        }
        addGraphic("start", point_source)
        addGraphic("finish", point_destination)
        getRoute();
        function getRoute() {
        // Setup the route parameters
          var routeParams = new RouteParameters({
            stops: new FeatureSet({
              features: view.graphics.toArray() // Pass the array of graphics
            }),
            returnDirections: true
          });
        // Get the route
          routeTask.solve(routeParams).then(function(data) {
          // Display the route
            data.routeResults.forEach(function(result) {
              result.route.symbol = {
                type: "simple-line",
                color: [5, 150, 255],
                width: 3
              };
              view.graphics.add(result.route);
            });
          });
        }
    });
    
  </script>
  <%= javascript_include_tag "new" %>
  
</head>
<% if false %>
  <p>Pickup: <%= @source.name %> , Coordinates: <%= @source.latitude %> , <%= @source.longitude %>, Address: <%= @source.address %></p>
  <p>Drop off: <%= @destination.name %> , Coordinates: <%= @destination.latitude %> , <%= @destination.longitude %> , Address: <%= @destination.address %></p>
  <p>handicap access: <%= @needs_assist %></p>
<% end %>

<body onload='initMapMarkerCart3( <%=raw @source.to_json %> , <%=raw @destination.to_json %>);'>
<main>
  <h1>Selected Route</h1>
  <div id="mapid" name='mapid'></div>
  <div id="mapid1" name='mapid1'></div>
  
  <div id="viewDiv"></div>
  
  <!-- Manvitha changes-->
  <div class='info-box'>
    <div id='calculated-line'></div>
  </div>

  <!-- Manvitha changes-->
  <table style='margin-bottom:10px'>
    <tr>
      <th colspan ="2">Trip Details</th>
    </tr>
    <tr>
      <td>Estimated Time of Arrival:</td>
      <td id='ETA'>Not Available</td>
    </tr>
    <tr>
      <td>Estimated Trip Time:</td>
      <td id ='ETT' >Not Available</td>
    </tr>
    <tr>
      <td>Car Details:</td>
      <td id ='CARD'>Not Available</td>
    </tr>
  </table>
  <div class='info-box'>
    <div id='calculated-line'></div>
  </div>

  <!-- Manvitha changes-->
  <input type="submit" class="btn btn-primary" id="bookB" value='Book Trip' onclick='book();' style="width:150px;background-color:#500;margin-left:auto;margin-right:auto;display:block"></input>
</main>
</body>